<div id="<%= dom_id copy %>">
  <p>
    <strong>Book:</strong>
    <%= copy.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= copy.user_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= copy.condition %>
  </p>

</div>
